---
import { getCollection } from "astro:content";
import calculateReadingTime from "reading-time";
import Bio from "../../components/Bio.astro";
import DateTime from "../../components/DateTime.svelte";
import Tag from "../../components/Tag.astro";
import WebMentions from "../../components/WebMentions.svelte";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry, readingTime: calculateReadingTime(entry.body) },
  }));
}
const { entry, readingTime } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BaseLayout
  title={entry.data.title}
  description={entry.data.description}
  permalink={`/blog/${entry.data.slug}`}
  image={entry.data.image}
  current="blog"
>
  <header class="text-center">
    <h1>{entry.data.title}</h1>
    <h3>{entry.data.description}</h3>
    <h4 class="text-secondary">
      Updated <DateTime datetime={remarkPluginFrontmatter.lastModified} />
      <time datetime={`P${readingTime.minutes}M`}> ~ {readingTime.text}</time>
    </h4>
    <h5 class="text-secondary">
      {entry.data.tags.map((tag) => <Tag tag={tag} />)}
    </h5>
    <hr />
  </header>
  <div class="max-w-[42rem] m-auto">
    <article>
      <Content />
    </article>

    <WebMentions client:only="svelte" />

    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
