---
import DateTime from "./DateTime.svelte";
import Tag from "./Tag.astro";

const { post } = Astro.props;
---

<div class="post-item">
  <header>
    <a href={post.slug} class="no-underline font-semibold text-2xl">
      {post.data.title}
    </a>
    <span class="text-secondary">
      — <DateTime datetime={post.data.publishDate} />
    </span>
  </header>

  <span>{post.data.tags.map((tag: string) => <Tag tag={tag} />)}</span>
  <p class="mt-1">{post.data.description}</p>
</div>
